ipykernel
# GenAI
python-dotenv
requests
streamlit
openai
# AI Agent
langgraph
langchain
langchain-aws
langchain-core
langchain-openai
langchain-tavily
boto3
scikit-learn
pandas
numpy
scipy
matplotlib
linkup-sdk
langchain-mcp-adapters
langchain-text-splitters
langchain-openai
#----------------------OSS--------------
transformers
acceleratec
triton==3.4 
kernels
transformers[serving] # cli serve
